.text {
    font-family: "Libre Baskerville", serif;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
      
html {
    background-color: black;
}

#div {
    width: 50%;
    margin-left: 25%;
    margin-top: 30px;
}

img {
    width: 100%;
    border: 5px solid white;
}